*.*/
!.github/
!.vscode/
main/mr-tmp/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so
/cmd/mr/coordinator/mrcoordinator
/cmd/mr/sequential/mrsequential
/cmd/mr/worker/mrworker
/cmd/diskvd/diskvd
/cmd/lockservice/lockc/lockc
/cmd/lockservice/lockd/lockd
/cmd/pbservice/pbc/pbc
/cmd/pbservice/pbd/pbd
/cmd/viewd/viewd